@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: black;
    --background-start-rgb: theme(colors.slate.300);
    --background-end-rgb: white; 
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #E8DACC;
        --background-start-rgb: theme(colors.slate.700);
        --background-end-rgb: theme(colors.rose.950);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-rgb) var(--foreground-rgb);
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--background-end-rgb);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground-rgb);
    border-radius: 14px;
    border: 2px solid var(--foreground-rgb);
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom,
            transparent,
            var(--background-end-rgb)) var(--background-start-rgb);
}

@layer components {
    h1 {
        @apply text-2xl
    };
    h2 {
        @apply text-xl
    };
    .int-primary {
        @apply 
            text-2xl text-center
            shadow-sm appearance-none shadow-slate-200
            border rounded
            p-2
            text-slate-800 leading-tight 
            focus:outline-none;
    }
    .inp-primary {
        @apply int-primary;
    }
    .rad-primary {
        @apply 
            int-primary 
            bg-white justify-center
            peer-checked:text-[#E8DACC]
            peer-checked:bg-slate-800;
    }
    .sel-primary {
        @apply int-primary text-xl;      
    }
    .btn-primary {
        @apply int-primary text-xl;      
    }
}